* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --border-radius: 5px;
  --primary-color: rgb(71, 71, 71);
  --content-container-height: 79.6vh;
  --menu-container-height: 15vh;
}

body {
  background: var(--primary-color);
  font-family: "Courier New", Courier, monospace;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

hr {
  height: 5px;
  background: grey;
  border: none;
  margin: 1rem auto;
}

.content-container {
  min-height: var(--content-container-height);
}

.mt-1 {
  margin-top: 5px;
}
.mt-5 {
  margin-top: 15px;
}

.mb-1 {
  margin-bottom: 5px;
}

.mb-5 {
  margin-bottom: 15px;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: hsl(0 0% 0% / 1);
}

::-webkit-scrollbar-thumb {
  background: hsl(3 0% 20%);
}

p {
  color: white;
}

.react-img {
  position: absolute;
  top: 60%;
  left: 0%;
  z-index: -999;
}
.css-img {
  position: absolute;
  top: 10%;
  left: 50%;
  z-index: -999;
}
.html-img {
  position: absolute;
  top: 30%;
  left: 1%;
  z-index: -999;
}
.node-img {
  position: absolute;
  top: 28%;
  right: 0%;
  z-index: -999;
}

.logo {
  height: 5rem;
  margin: 0.5rem;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  height: var(--menu-container-height);
  align-items: center;
  width: 75%;
  margin: 0 auto;
}

.nav {
  color: white;
  font-size: 0.75rem;
}

.nav a {
  color: white;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}

.nav ul li {
  display: inline;
}

.react-img,
.css-img,
.html-img,
.node-img {
  width: 20%;
}

.about-p {
  max-width: 980px;
  margin: 1rem auto;
  font-size: 1.15rem;
  padding: 1rem;
}

.about-title {
  text-align: center;
  color: white;
}

.intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  min-height: 80vh;
}

.subtitle-intro {
  font-size: 1.3rem;
  margin-bottom: 3rem;
}

.home-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-nav li {
  list-style: none;
}

.home-nav a {
  padding: 0.8rem;
  background: white;
  margin: 0.25rem;
  border-radius: var(--border-radius);
  font-weight: bold;
  font-size: 1.2rem;
  color: black;
}

.home-nav a:hover {
  background: rgb(216, 216, 216);
}

.nav a {
  font-size: 1.5rem;
  margin: 0.35rem;
}

.img-profile {
  width: 100%;
  border-radius: var(--border-radius);
}

.hamburger-menu {
  display: none;
}

.col-1 {
  max-width: 620px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.grid-projects {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 1rem;
}

.project-container {
  margin: 1rem;
}
.project-title {
  font-size: 1.3rem;
}
.project-img {
  width: 100%;
}
.tech-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
.tech-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-content: center;
  align-items: center;
}

.tech {
  background: rgb(139, 139, 139);
  margin: 0.5rem;
  border-radius: var(--border-radius);
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.tech-items-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.tech-item {
  margin: 0.25rem;
  font-size: 1.5rem;
  background: rgb(54, 54, 54);
  padding: 0.25rem;
  border-radius: var(--border-radius);
}

footer {
  align-items: center;
  background: rgb(146, 146, 146);
  color: white;
  display: flex;
  gap: 1rem;
  min-height: 2.5rem;
  margin-top: 1.5rem;
  justify-content: center;
}

footer i {
  font-size: 1.5rem;
}
@media (max-width: 650px) {
  .home-nav ul {
    flex-direction: column;
  }
  .img-profile {
    margin: 0 auto;
  }
  .home-nav li {
    margin: 1rem;
  }
  .main-container {
    width: 90%;
  }
  .intro-container h1 {
    font-size: 1.75rem;
  }
  .logo {
    height: 2.5rem;
  }
  .intro-container h2 {
    font-size: 0.6rem;
  }
  .img-profile {
    width: 50%;
  }
  .react-img,
  .css-img,
  .html-img,
  .node-img {
    width: 45%;
  }

  .hamburger-menu {
    display: block;
    width: 1.5rem;
    z-index: 3;
    margin: 1rem;
    cursor: pointer;
  }
  logo {
    z-index: 5;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(450px, -200px);
    position: absolute;
    background-color: white;
    z-index: 2;
    height: 0px;
    opacity: 0;
    transition: transform 0.35s ease;
  }
  .menu-container {
    grid-template-columns: 3fr 1fr;
  }
  .line-menu {
    width: 100%;
    height: 4px;
    background: white;
    margin: 2px;
    border-radius: var(--border-radius);
    z-index: 9;
    background: black;
    cursor: pointer;
  }

  .active {
    transform: translate(100px, 100px);
    z-index: 3;
    opacity: 1;
    height: 500px;
    width: 500px;
    background: white;
    border-radius: 50%;
  }

  .nav ul li a {
    display: block;
    margin: 1rem;
    text-align: center;
    font-weight: bold;
    color: black;
  }

  .grid-projects {
    grid-template-columns: 1fr;
  }

  .tech-container {
    grid-template-columns: 1fr;
  }
  .tech-items-grid {
    flex-wrap: wrap;
  }
}
