* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: url("./img/background.svg");
  overflow-x: hidden;
  font-family: "Courier New", Courier, monospace;
}

.mt-1 {
  margin-top: 5px;
}
.mt-5 {
  margin-top: 15px;
}

.mb-1 {
  margin-bottom: 5px;
}

.pointer {
  cursor: pointer;
}

.mb-5 {
  margin-bottom: 15px;
}
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: hsl(0 0% 0% / 1);
}

::-webkit-scrollbar-thumb {
  background: hsl(3 0% 20%);
}

.react-img {
  position: absolute;
  top: 60%;
  left: 0%;
  z-index: -999;
}
.css-img {
  position: absolute;
  top: 70%;
  left: 50%;
  z-index: -999;
}
.html-img {
  position: absolute;
  top: 30%;
  left: 1%;
  z-index: -999;
}
.node-img {
  position: absolute;
  top: 28%;
  right: 0%;
  z-index: -999;
}

.logo {
  height: 10vh;
  margin: 0.5rem;
}
.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 0.75rem;
}

.nav a {
  color: white;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}

.nav ul li {
  display: inline;
}

.intro-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: left;
  margin: 0 0.5rem 0 0.5rem;
  height: 80vh;
  text-align: center;
}

.img-profile {
  width: 25%;
  margin: 0 auto;
  display: block;
  clip-path: circle();
}

.section-title {
  text-align: center;
  color: white;
  margin-top: 50px;
  height: 100vh;
}

@media (max-width: 500px) {
  .intro-container h1 {
    font-size: 1.75rem;
  }
  .intro-container h2 {
    font-size: 0.9rem;
  }
  .img-profile {
    width: 50%;
  }
  .react-img,
  .css-img,
  .html-img,
  .node-img {
    width: 45%;
  }
  .hamburger-menu {
    width: 15px;
    z-index: 3;
    margin: 1rem;
  }
  logo {
    z-index: 5;
  }
  .nav {
    display: none;
  }

  .line-menu {
    width: 100%;
    height: 2px;
    background: white;
    margin: 2px;
    border-radius: 1px;
  }
  .active {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav {
    top: 0;
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: rgb(87, 87, 87);
    z-index: 2;
  }

  .nav ul li a {
    display: block;
    margin: 1rem;
    text-align: center;
    font-weight: bold;
  }
}
