* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --border-radius: 5px;
  --primary-color: #2c2c2c;
  --content-container-height: calc(100vh - 15vh);
  --menu-container-height: 15vh;
  --max-container-width: 1400px;
}

body {
  background: var(--primary-color);
  font-family: "Rowdies", cursive;
  overflow-x: hidden;
}

.content {
  max-width: var(--max-container-width);
  min-height: var(--content-container-height);
  padding: 2rem;
  margin: 0 auto;
}

i {
  color: white;
  font-size: 2rem;
}

a {
  text-decoration: none;
}

p {
  color: white;
  font-size: 1.1rem;
  font-weight: lighter;
  margin-top: 1.25rem;
}

.logo {
  width: 5rem;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--menu-container-height);
  width: 100%;
  margin: 0 auto;
  margin-top: 2.5rem;
}

.menu-container ul {
  display: flex;
  gap: 3rem;
}

.menu-container ul li {
  font-size: 1.5rem;
}

.home-h1 {
  font-size: 4rem;
}

.nav {
  color: white;
  font-size: 0.75rem;
}

.nav a {
  color: white;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}

.nav ul li {
  display: inline;
}

h2 {
  text-align: center;
  color: white;
  font-size: 2rem;
  position: relative;
  margin-bottom: 4rem;
}
h2::after {
  content: "";
  height: 5px;
  background-color: #404040;
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translate(-50%, 50%);

  width: 100px;
  z-index: 3;
}
li {
  list-style: none;
  color: white;
}

.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin: 0 auto;
  min-height: 80vh;
}
.intro__left {
  max-width: 500px;
}
.intro__right img {
  height: 218px;
  margin: 0 auto;
  display: block;
  border-radius: 15px;
}

.subtitle-intro {
  margin-top: 2rem;
  font-size: 1.3rem;
  color: rgb(190, 190, 190);
}

.home-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-nav li {
  list-style: none;
}

.img-profile {
  width: 100%;
  border-radius: var(--border-radius);
}

.tech-container {
  display: flex;
  gap: 2rem;
  justify-content: space-around;
  text-align: left;
}
.tech-svg {
  width: 50px;
  height: 50px;
  margin-bottom: 1rem;
}

@media (max-width: 980px) {
  .intro {
    flex-direction: column;
    justify-content: center;
  }
  .intro__left {
    margin: 0 auto;
    text-align: center;
  }
  .intro img {
    margin: 2rem auto;
  }
}
